<template>
  <form @submit.prevent="handleSubmit(item)">
    <div class="form-group">
      <label
        for="client_firstName"
        class="form-control-label">firstName</label>
        <input
          id="client_firstName"
          v-model="item.firstName"
          :class="['form-control', !isValid('firstName') ? 'is-invalid' : 'is-valid']"
          type="text"
          placeholder="">
      <div
        v-if="!isValid('firstName')"
        class="invalid-feedback">{{ violations.firstName }}</div>
    </div>
    <div class="form-group">
      <label
        for="client_lastName"
        class="form-control-label">lastName</label>
        <input
          id="client_lastName"
          v-model="item.lastName"
          :class="['form-control', !isValid('lastName') ? 'is-invalid' : 'is-valid']"
          type="text"
          placeholder="">
      <div
        v-if="!isValid('lastName')"
        class="invalid-feedback">{{ violations.lastName }}</div>
    </div>
    <div class="form-group">
      <label
        for="client_birthday"
        class="form-control-label">birthday</label>
        <input
          id="client_birthday"
          v-model="item.birthday"
          :class="['form-control', !isValid('birthday') ? 'is-invalid' : 'is-valid']"
          type="dateTime"
          placeholder="">
      <div
        v-if="!isValid('birthday')"
        class="invalid-feedback">{{ violations.birthday }}</div>
    </div>
    <div class="form-group">
      <label
        for="client_email"
        class="form-control-label">email</label>
        <input
          id="client_email"
          v-model="item.email"
          :class="['form-control', !isValid('email') ? 'is-invalid' : 'is-valid']"
          type="text"
          placeholder="">
      <div
        v-if="!isValid('email')"
        class="invalid-feedback">{{ violations.email }}</div>
    </div>
    <div class="form-group">
      <label
        for="client_level"
        class="form-control-label">level</label>
        <input
          id="client_level"
          v-model="item.level"
          :class="['form-control', !isValid('level') ? 'is-invalid' : 'is-valid']"
          type="number"
          placeholder="">
      <div
        v-if="!isValid('level')"
        class="invalid-feedback">{{ violations.level }}</div>
    </div>
    <div class="form-group">
      <label
        for="client_reservations"
        class="form-control-label">reservations</label>
        <select
          v-model="item.reservations"
          id="client_reservations"
          multiple
          class="form-control"
        >
          <option v-for="selectItem in reservationsSelectItems"
                  :key="selectItem['@id']"
                  :value="selectItem['@id']"
                  :selected="isSelected('reservations', selectItem['@id'])">{{ selectItem.name }}
          </option>
        </select>
      <div
        v-if="!isValid('reservations')"
        class="invalid-feedback">{{ violations.reservations }}</div>
    </div>

    <button
      type="submit"
      class="btn btn-success">Submit</button>
  </form>
</template>

<script>
  import { find, get, isUndefined } from 'lodash';
  import { mapFields } from 'vuex-map-fields';
  import { mapActions } from 'vuex';

  export default {
  props: {
    handleSubmit: {
      type: Function,
      required: true,
    },

    values: {
      type: Object,
      required: true,
    },

    errors: {
      type: Object,
      default: () => {},
    },

    initialValues: {
      type: Object,
      default: () => {},
    }
  },

  mounted() {
    this.reservationsGetSelectItems();
  },

  computed: {
    ...mapFields('reservations/list', {
      'reservationsSelectItems': 'selectItems',
    }),

    // eslint-disable-next-line
    item() {
      return this.initialValues || this.values;
    },

    violations() {
      return this.errors || {};
    },
  },

  methods: {
    ...mapActions({
        reservationsGetSelectItems: 'reservations/list/getSelectItems',
    }),

    isSelected(collection, id) {
      return find(this.item[collection], ['@id', id]) !== undefined;
    },

    isValid(key) {
      return isUndefined(get(this.violations, key));
    },
  },
};
</script>
