<template>
  <form @submit.prevent="handleSubmit(item)">
    <div class="form-group">
      <label
        for="assureur_type"
        class="form-control-label">type</label>
        <input
          id="assureur_type"
          v-model="item.type"
          :class="['form-control', !isValid('type') ? 'is-invalid' : 'is-valid']"
          type="text"
          placeholder="">
      <div
        v-if="!isValid('type')"
        class="invalid-feedback">{{ violations.type }}</div>
    </div>
    <div class="form-group">
      <label
        for="assureur_expirationDate"
        class="form-control-label">expirationDate</label>
        <input
          id="assureur_expirationDate"
          v-model="item.expirationDate"
          :class="['form-control', !isValid('expirationDate') ? 'is-invalid' : 'is-valid']"
          type="dateTime"
          placeholder="">
      <div
        v-if="!isValid('expirationDate')"
        class="invalid-feedback">{{ violations.expirationDate }}</div>
    </div>
    <div class="form-group">
      <label
        for="assureur_Assurance"
        class="form-control-label">Assurance</label>
        <select
          v-model="item.Assurance"
          id="assureur_Assurance"
          multiple
          class="form-control"
        >
          <option v-for="selectItem in AssuranceSelectItems"
                  :key="selectItem['@id']"
                  :value="selectItem['@id']"
                  :selected="isSelected('Assurance', selectItem['@id'])">{{ selectItem.name }}
          </option>
        </select>
      <div
        v-if="!isValid('Assurance')"
        class="invalid-feedback">{{ violations.Assurance }}</div>
    </div>

    <button
      type="submit"
      class="btn btn-success">Submit</button>
  </form>
</template>

<script>
  import { find, get, isUndefined } from 'lodash';
  import { mapFields } from 'vuex-map-fields';
  import { mapActions } from 'vuex';

  export default {
  props: {
    handleSubmit: {
      type: Function,
      required: true,
    },

    values: {
      type: Object,
      required: true,
    },

    errors: {
      type: Object,
      default: () => {},
    },

    initialValues: {
      type: Object,
      default: () => {},
    }
  },

  mounted() {
    this.AssuranceGetSelectItems();
  },

  computed: {
    ...mapFields('Assurance/list', {
      'AssuranceSelectItems': 'selectItems',
    }),

    // eslint-disable-next-line
    item() {
      return this.initialValues || this.values;
    },

    violations() {
      return this.errors || {};
    },
  },

  methods: {
    ...mapActions({
        AssuranceGetSelectItems: 'Assurance/list/getSelectItems',
    }),

    isSelected(collection, id) {
      return find(this.item[collection], ['@id', id]) !== undefined;
    },

    isValid(key) {
      return isUndefined(get(this.violations, key));
    },
  },
};
</script>
