<template>
  <form @submit.prevent="handleSubmit(item)">
    <div class="form-group">
      <label
        for="assurance_name"
        class="form-control-label">name</label>
        <input
          id="assurance_name"
          v-model="item.name"
          :class="['form-control', !isValid('name') ? 'is-invalid' : 'is-valid']"
          type="text"
          placeholder="">
      <div
        v-if="!isValid('name')"
        class="invalid-feedback">{{ violations.name }}</div>
    </div>
    <div class="form-group">
      <label
        for="assurance_phoneNumber"
        class="form-control-label">phoneNumber</label>
        <input
          id="assurance_phoneNumber"
          v-model="item.phoneNumber"
          :class="['form-control', !isValid('phoneNumber') ? 'is-invalid' : 'is-valid']"
          type="text"
          placeholder="">
      <div
        v-if="!isValid('phoneNumber')"
        class="invalid-feedback">{{ violations.phoneNumber }}</div>
    </div>
    <div class="form-group">
      <label
        for="assurance_address"
        class="form-control-label">address</label>
        <input
          id="assurance_address"
          v-model="item.address"
          :class="['form-control', !isValid('address') ? 'is-invalid' : 'is-valid']"
          type="text"
          placeholder="">
      <div
        v-if="!isValid('address')"
        class="invalid-feedback">{{ violations.address }}</div>
    </div>
    <div class="form-group">
      <label
        for="assurance_referent"
        class="form-control-label">referent</label>
        <input
          id="assurance_referent"
          v-model="item.referent"
          :class="['form-control', !isValid('referent') ? 'is-invalid' : 'is-valid']"
          type="text"
          placeholder="">
      <div
        v-if="!isValid('referent')"
        class="invalid-feedback">{{ violations.referent }}</div>
    </div>
    <div class="form-group">
      <label
        for="assurance_assureur"
        class="form-control-label">assureur</label>
        <select
          v-model="item.assureur"
          id="assurance_assureur"
          class="form-control"
        >
          <option v-for="selectItem in assureurSelectItems"
                  :key="selectItem['@id']"
                  :value="selectItem['@id']"
                  :selected="isSelected('assureur', selectItem['@id'])">{{ selectItem.name }}
          </option>
        </select>
      <div
        v-if="!isValid('assureur')"
        class="invalid-feedback">{{ violations.assureur }}</div>
    </div>
    <div class="form-group">
      <label
        for="assurance_kayaks"
        class="form-control-label">kayaks</label>
        <select
          v-model="item.kayaks"
          id="assurance_kayaks"
          multiple
          class="form-control"
        >
          <option v-for="selectItem in kayaksSelectItems"
                  :key="selectItem['@id']"
                  :value="selectItem['@id']"
                  :selected="isSelected('kayaks', selectItem['@id'])">{{ selectItem.name }}
          </option>
        </select>
      <div
        v-if="!isValid('kayaks')"
        class="invalid-feedback">{{ violations.kayaks }}</div>
    </div>

    <button
      type="submit"
      class="btn btn-success">Submit</button>
  </form>
</template>

<script>
  import { find, get, isUndefined } from 'lodash';
  import { mapFields } from 'vuex-map-fields';
  import { mapActions } from 'vuex';

  export default {
  props: {
    handleSubmit: {
      type: Function,
      required: true,
    },

    values: {
      type: Object,
      required: true,
    },

    errors: {
      type: Object,
      default: () => {},
    },

    initialValues: {
      type: Object,
      default: () => {},
    }
  },

  mounted() {
    this.assureurGetSelectItems();
    this.kayaksGetSelectItems();
  },

  computed: {
    ...mapFields('assureur/list', {
      'assureurSelectItems': 'selectItems',
    }),
    ...mapFields('kayaks/list', {
      'kayaksSelectItems': 'selectItems',
    }),

    // eslint-disable-next-line
    item() {
      return this.initialValues || this.values;
    },

    violations() {
      return this.errors || {};
    },
  },

  methods: {
    ...mapActions({
        assureurGetSelectItems: 'assureur/list/getSelectItems',
        kayaksGetSelectItems: 'kayaks/list/getSelectItems',
    }),

    isSelected(collection, id) {
      return find(this.item[collection], ['@id', id]) !== undefined;
    },

    isValid(key) {
      return isUndefined(get(this.violations, key));
    },
  },
};
</script>
