<template>
  <form @submit.prevent="handleSubmit(item)">
    <div class="form-group">
      <label
        for="reservation_client"
        class="form-control-label">client</label>
        <select
          v-model="item.client"
          id="reservation_client"
          class="form-control"
        >
          <option v-for="selectItem in clientSelectItems"
                  :key="selectItem['@id']"
                  :value="selectItem['@id']"
                  :selected="isSelected('client', selectItem['@id'])">{{ selectItem.name }}
          </option>
        </select>
      <div
        v-if="!isValid('client')"
        class="invalid-feedback">{{ violations.client }}</div>
    </div>
    <div class="form-group">
      <label
        for="reservation_date"
        class="form-control-label">date</label>
        <input
          id="reservation_date"
          v-model="item.date"
          :class="['form-control', !isValid('date') ? 'is-invalid' : 'is-valid']"
          type="dateTime"
          placeholder="">
      <div
        v-if="!isValid('date')"
        class="invalid-feedback">{{ violations.date }}</div>
    </div>
    <div class="form-group">
      <label
        for="reservation_price"
        class="form-control-label">price</label>
        <input
          id="reservation_price"
          v-model="item.price"
          :class="['form-control', !isValid('price') ? 'is-invalid' : 'is-valid']"
          type="number"
          step="0.1"
          placeholder="">
      <div
        v-if="!isValid('price')"
        class="invalid-feedback">{{ violations.price }}</div>
    </div>
    <div class="form-group">
      <label
        for="reservation_online"
        class="form-control-label">online</label>
        <input
          id="reservation_online"
          v-model="item.online"
          :class="['form-control', !isValid('online') ? 'is-invalid' : 'is-valid']"
          type="checkbox"
          placeholder="">
      <div
        v-if="!isValid('online')"
        class="invalid-feedback">{{ violations.online }}</div>
    </div>
    <div class="form-group">
      <label
        for="reservation_kayak"
        class="form-control-label">kayak</label>
        <select
          v-model="item.kayak"
          id="reservation_kayak"
          multiple
          class="form-control"
        >
          <option v-for="selectItem in kayakSelectItems"
                  :key="selectItem['@id']"
                  :value="selectItem['@id']"
                  :selected="isSelected('kayak', selectItem['@id'])">{{ selectItem.name }}
          </option>
        </select>
      <div
        v-if="!isValid('kayak')"
        class="invalid-feedback">{{ violations.kayak }}</div>
    </div>

    <button
      type="submit"
      class="btn btn-success">Submit</button>
  </form>
</template>

<script>
  import { find, get, isUndefined } from 'lodash';
  import { mapFields } from 'vuex-map-fields';
  import { mapActions } from 'vuex';

  export default {
  props: {
    handleSubmit: {
      type: Function,
      required: true,
    },

    values: {
      type: Object,
      required: true,
    },

    errors: {
      type: Object,
      default: () => {},
    },

    initialValues: {
      type: Object,
      default: () => {},
    }
  },

  mounted() {
    this.clientGetSelectItems();
    this.kayakGetSelectItems();
  },

  computed: {
    ...mapFields('client/list', {
      'clientSelectItems': 'selectItems',
    }),
    ...mapFields('kayak/list', {
      'kayakSelectItems': 'selectItems',
    }),

    // eslint-disable-next-line
    item() {
      return this.initialValues || this.values;
    },

    violations() {
      return this.errors || {};
    },
  },

  methods: {
    ...mapActions({
        clientGetSelectItems: 'client/list/getSelectItems',
        kayakGetSelectItems: 'kayak/list/getSelectItems',
    }),

    isSelected(collection, id) {
      return find(this.item[collection], ['@id', id]) !== undefined;
    },

    isValid(key) {
      return isUndefined(get(this.violations, key));
    },
  },
};
</script>
