<template>
  <form @submit.prevent="handleSubmit(item)">
    <div class="form-group">
      <label
        for="kayak_marque"
        class="form-control-label">marque</label>
        <input
          id="kayak_marque"
          v-model="item.marque"
          :class="['form-control', !isValid('marque') ? 'is-invalid' : 'is-valid']"
          type="text"
          placeholder="">
      <div
        v-if="!isValid('marque')"
        class="invalid-feedback">{{ violations.marque }}</div>
    </div>
    <div class="form-group">
      <label
        for="kayak_modele"
        class="form-control-label">modele</label>
        <input
          id="kayak_modele"
          v-model="item.modele"
          :class="['form-control', !isValid('modele') ? 'is-invalid' : 'is-valid']"
          type="text"
          placeholder="">
      <div
        v-if="!isValid('modele')"
        class="invalid-feedback">{{ violations.modele }}</div>
    </div>
    <div class="form-group">
      <label
        for="kayak_serialNumber"
        class="form-control-label">serialNumber</label>
        <input
          id="kayak_serialNumber"
          v-model="item.serialNumber"
          :class="['form-control', !isValid('serialNumber') ? 'is-invalid' : 'is-valid']"
          type="text"
          placeholder="">
      <div
        v-if="!isValid('serialNumber')"
        class="invalid-feedback">{{ violations.serialNumber }}</div>
    </div>
    <div class="form-group">
      <label
        for="kayak_assurance"
        class="form-control-label">assurance</label>
        <select
          v-model="item.assurance"
          id="kayak_assurance"
          class="form-control"
        >
          <option v-for="selectItem in assuranceSelectItems"
                  :key="selectItem['@id']"
                  :value="selectItem['@id']"
                  :selected="isSelected('assurance', selectItem['@id'])">{{ selectItem.name }}
          </option>
        </select>
      <div
        v-if="!isValid('assurance')"
        class="invalid-feedback">{{ violations.assurance }}</div>
    </div>
    <div class="form-group">
      <label
        for="kayak_reservation"
        class="form-control-label">reservation</label>
        <select
          v-model="item.reservation"
          id="kayak_reservation"
          class="form-control"
        >
          <option v-for="selectItem in reservationSelectItems"
                  :key="selectItem['@id']"
                  :value="selectItem['@id']"
                  :selected="isSelected('reservation', selectItem['@id'])">{{ selectItem.name }}
          </option>
        </select>
      <div
        v-if="!isValid('reservation')"
        class="invalid-feedback">{{ violations.reservation }}</div>
    </div>

    <button
      type="submit"
      class="btn btn-success">Submit</button>
  </form>
</template>

<script>
  import { find, get, isUndefined } from 'lodash';
  import { mapFields } from 'vuex-map-fields';
  import { mapActions } from 'vuex';

  export default {
  props: {
    handleSubmit: {
      type: Function,
      required: true,
    },

    values: {
      type: Object,
      required: true,
    },

    errors: {
      type: Object,
      default: () => {},
    },

    initialValues: {
      type: Object,
      default: () => {},
    }
  },

  mounted() {
    this.assuranceGetSelectItems();
    this.reservationGetSelectItems();
  },

  computed: {
    ...mapFields('assurance/list', {
      'assuranceSelectItems': 'selectItems',
    }),
    ...mapFields('reservation/list', {
      'reservationSelectItems': 'selectItems',
    }),

    // eslint-disable-next-line
    item() {
      return this.initialValues || this.values;
    },

    violations() {
      return this.errors || {};
    },
  },

  methods: {
    ...mapActions({
        assuranceGetSelectItems: 'assurance/list/getSelectItems',
        reservationGetSelectItems: 'reservation/list/getSelectItems',
    }),

    isSelected(collection, id) {
      return find(this.item[collection], ['@id', id]) !== undefined;
    },

    isValid(key) {
      return isUndefined(get(this.violations, key));
    },
  },
};
</script>
